AppIcon Icon "resources/snake.ico"
Map1 Image "resources/maps/Map1.png"
Map2 Image "resources/maps/Map2.png"
Map3 Image "resources/maps/Map3.png"
Apple Image "resources/apple.png"
Head Image "resources/head.png"
Heart Image "resources/heart.png"